html, body {
    height: 100%;
    margin: 0;
}

#map {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.text-bg-primary {
    background-color: #b80a21 !important;
    color: #fff;
}

.border-light-subtle {
    border-color: rgba(0, 0, 0, 0.1);
}

.bsb-btn-xl {
    padding: 1em 2em;
    font-size: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    height: 100vh;
    padding-top: 170px;
}

.container-fluid{
    z-index: 1;
    background-color: #b80a21;
}


.navbar-brand {
    color: #b80a21;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
}

/* Improved search box styling */
#pac-input {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 15px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ced4da;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

#pac-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

#pac-input::placeholder {
    color: #868e96;
}

/* Adding a slight hover effect */
#pac-input:hover {
    border-color: #007bff;
}

/* Map container */
#map {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.critical-level-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
  }
  